* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
  margin: 1rem;
  text-align: center;
}

#app {
  width: 60%;
  margin: 0 auto;
}
